p.caption {
  color: #777;
  margin-top: 10px;
}
p code {
  white-space: inherit;
}
pre {
  word-break: normal;
  word-wrap: normal;
}
pre code {
  white-space: inherit;
}

@media screen  and (min-width: 1024px) {
  .logos {
    visibility:hidden;
  }
}
