p.caption {
  color: #585E89;
  margin-top: 10px;
}
p code {
  white-space: inherit;
}
pre {
  word-break: normal;
  word-wrap: normal;
}
pre code {
  white-space: inherit;
}

h1 {
  color: black;
  background-color: #F0FFFF;
  border: 2px solid black;
  text-align: center;
}

h2 {
  text-align: center;
  background-color: #F3FFFF;
}

h3 {
  text-align: center;
}

p {
  color: black;
  text-indent: 40px;
}

@media (max-width: 700px) {
  .logos {
    visibility:hidden;
  }
}
